PORT=8000
AGENT_ROUTER_TOKEN=your_agent_router_token_here
AGENT_ROUTER_API_KEY=your_agent_router_token_here
AGENT_ROUTER_BASE_URL=https://agentrouter.org/v1
AGENT_ROUTER_MODEL=gpt-5
LLM_TIMEOUT_MS=10000
